
/* ------GLOBAL STYLES---------- */
/* ------------------------------*/
body {
  background-color: #1e1e1e;
  color: whitesmoke;
}

/* ------------------------------*/
/* -------------NAVBAR---------- */
/* ------------------------------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
}

/* ------------------------------*/
/* ------WELCOME COMPONENT----*/
/* ------------------------------*/

.welcome-container {
  background-color: #4e4e4e;
  border-radius: 10px;
  width: 400;
  height: 85;
}

#welcome-div {
  padding: 20px 20px;
}





/* ------------------------------*/
/* --------MAIN CONTENT----------*/
/* ------------------------------*/

.main-content {
  margin: 20px 20px;
}

.content {
  /* margin: 20px 20px; */
  background-color: #373737;
  border-radius: 10px;
  padding: 20px 20px;
  align-content: center;
}

#content-actions > span{
  margin-right: 10px;
}

#content-context {
  padding-top: 5px;
}

#test {
  align-content: center;
}

.section-container {
  gap: 10px;
}